.form-container {
    margin: auto;
    height: 86vh;
    width: 39vw;
    margin-top: 20px;
    left: 20%;
}

body {
    background-color: #1b254f;
}

.logo {
    padding-left: 1%;
    width: 101px;
    height: 83px;
}

.ctf-form {
    border-radius: 20px;
    background-color: #000f39;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: 15px 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.form-title {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    .form-title {
        font-size: 0.7rem;
    }
}

.submit-btn {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 18px;
}
