@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding: 0 3rem;
    color: #243b55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-container {
    height: 85%;
}

.ctf-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://cyscomvit.com/assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    max-width: 640px;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: #fff;
}

.match {
    background-color: #fff;
    opacity: 90%;
    border-radius: 15px;
}

.ctf-form input {
    margin-bottom: 1.5rem;
}

.ctf-form textarea {
    margin-bottom: 2rem;
}

.form-title {
    text-align: center;
}

input,
textarea {
    opacity: 90%;
    font: inherit;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid #a3a3a3;
}

input:focus,
textarea:focus {
    border-color: #243b55;
}

button,
a {
    padding: 10px 30px;
    border-radius: 5px;
}

.btn-submit {
    background-color: #fa377b;
    border: 1px solid #fa377b;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear;
    text-decoration: none;
}

.btn-submit:hover {
    background-color: #fa377b;
    text-decoration: none;
}

.btn-submit:active {
    background-color: #ff5f96;
    text-decoration: none;
}

.match1 {
    height: 75%;
}

.show-message {
    text-align: center;
    padding: 1.5rem;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perma > p {
    font-size: 1rem;
    text-align: center;
}
.perma > p > a {
    padding: 0rem;
    border-radius: 0rem;
}
